<div class="container-fluid">
    <div class="container">
        <mat-card>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select formControlName="placeId" placeholder="Select a place">
                                    <mat-option *ngFor="let place of places" [value]="place.id">{{place.city}} -
                                        {{place.country}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select formControlName="conveyanceId" placeholder="Select a transport type">
                                    <mat-option *ngFor="let convayance of conveyances"
                                        [value]="convayance.id">{{convayance.id}} -
                                        {{convayance.transportTypeValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput formControlName="deliveryDay" [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Product amount</mat-label>
                                <input formControlName="amount" min="1" type="number" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Product description </mat-label>
                                <input formControlName="productType" type="text" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Delivery price</mat-label>
                                <input formControlName="price" min="1" type="number" [value]="form.get('price')?.value"
                                    matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="full-button " mat-flat-button color="primary">Send</button>
                        </div>
                    </div>


                </section>

            </form>
        </mat-card>
    </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<app-product-detail *ngIf="productCreated" [product]=productCreated>

</app-product-detail>