.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


button {
  text-transform: none;
  background: #c2185b;
  width: -webkit-fill-available;
}