<div class="container-fluid">
    <mat-card>
        <mat-card-content>
            <form>
                <div class="form-row ">
                    <div class="col-md-11">
                        <label class="sr-only" for="inlineFormInput">Track Number</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="ABC1234D">
                    </div>

                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>