<div class="container-fluid">
    <div class="container">
        <mat-card>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-5">

                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Logistic App Signup</mat-card-title>
                        </mat-card-header>

                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                                formControlName="username" type="text" matInput>
                            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                <div *ngIf="f['username'].errors['required']">Username is required</div>
                            </div>
                            <span class="text-danger"
                                *ngIf="f['username'].touched && f['username']?.errors && f['username']?.errors!['userNameNotAvailable']">
                                User Name is not available
                            </span>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name"
                                type="text" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Id</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['documentId'].errors }"
                                formControlName="documentId" type="text" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Phone</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" formControlName="phone"
                                type="tel" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email"
                                type="email" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Country</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
                                formControlName="country" type="country" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" formControlName="city"
                                type="city" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
                                formControlName="address" type="address" matInput>
                        </mat-form-field>



                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>