<div class="container-fluid">
    <div class="container">
        <mat-card>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="form-row ">
                        <div class="col-md-10">

                            <mat-form-field>
                                <mat-label>Insert Track Number </mat-label>
                                <input formControlName="id" placeholder="ABC1234D" type="text" matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 center">
                            <button type="submit" class="full-button" mat-flat-button color="primary">Search</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<app-product-detail *ngIf="productCreated" [product]=productCreated>

</app-product-detail>