.mat-mdc-form-field {
    width: inherit !important;
    padding: 15px;
 }
 .full-button {
    width: inherit !important;
    padding: 15px;
 }
 .center {
    justify-content: center;
    margin: auto;
  }